@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,800;0,900;1,900&display=swap');

* {
    margin: unset;
    padding: unset;
    font-weight: unset;
    font-size: unset;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 700;
    color: gray;
}

h4 {
    font-weight: 500;
    color: gray;
}

h5 {
    display: flex;
    flex-direction: r;
    font-weight: bold;
    color: gray;
}

li {
    padding: 2sddpx;
    font-size: 0.8rem;
    color: brown;
    font-weight: bold;
}


#datos {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

form {
    padding: 5px;
    border: 1px solid aquamarine;
    border-radius: 5px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px aquamarine;
    width: 400px;
    height: 200px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem
}

form>div>input {
    padding: 3px;
    width: 5rem;
    font-weight: 500;
    color: gray;
    outline: none;
    text-align: center;
}

form>div>input:hover {
    border: 1px solid aquamarine;
    box-shadow: 0 0 5px aquamarine;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.header>.grupo>li {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.header>.grupo>a {
    display: flex;
    flex-direction: row;
    justify-content: right;

}



img,
#refrescar {
    display: flex;
    flex-direction: row;
    justify-self: right;
    width: 35px;
    height: 35px;
    padding: 2px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 25px;
}

img:hover {
    cursor: pointer;
}

#mostrar {
    padding: 10px;
    background-color: aquamarine;
    font-size: small;
    font-weight: 500;
    border: 2px solid aquamarine;
    color: gray;
    border-radius: 5px;
}




#mostrar:hover {
    background-color: darkcyan;
    color: white;
    border-color: darkcyan;
}

#respuesta {
    gap: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

}


#respuesta>.fila {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}


.celda {
    display: flex;
    gap: 1rem;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 5px;
}

.sol {
    display: flex;
    gap: 1rem;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
}



.celda:hover {
    background-color: darkcyan;
    color: white;
}

.camino {

    display: flex;
    gap: 1rem;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 224, 64);
    border: 2px solid brown;
    counter-reset: brown;
    border-radius: 5px;
}

#bloquescaminos {
    gap: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: row;

}


#historial {
    gap: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;


}


#bloquescaminos>.fila {
    display: flex;
    gap: 1rem;
    justify-content: left;

}

#historial {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;

}


.filaNueva {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 5px;
    width: 150px;
    height: 150px;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    counter-reset: gray;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;

}

.filaNueva img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.filaNueva p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5px;
    z-index: 1;
    color: black;
    padding: 5px;
    margin: 0 auto;
    font-size: small;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
}



.filaNueva:hover {
    cursor: pointer;
}

#bloquear {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}